<div>
<p> <%= t('views.common.title_index', name: Comment.model_name.human) %> </p>
<% commentable.comments.each do |comment| %>
  <div class="show-item">
    <%= render partial: 'shared/comments/show', locals: { comment: comment } %>
  </div>
<% end %>
<%= render partial: 'shared/comments/form', locals: { commentable: commentable, comment: commentable.comments.build } %>
</div>
