<%= form_with(model: [ commentable, comment ]) do |form| %>

  <div>
    <%= form.label "コメント本文", style: "display: block" %>
    <%= form.text_field :content %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
