<p><%= t('devise.mailer.hello') %> <%= @resource.email %>!</p>

<p><%= t( 'devise.mailer.password_change_mail.pre_url' ) %></p>

<p><%= link_to 'URL', edit_password_url(@resource, reset_password_token: @token) %></p>
